In [2]:
import numpy as np
import matplotlib.pyplot as plt
#%plt.style.use("v_paper")
import pandas as pd
import deepdish as dd
%matplotlib inline

In [4]:
compdata=pd.DataFrame()

In [12]:
compdata.astype({'experiment': 'str'}).dtypes

experiment    object
dtype: object

In [20]:
compdata['experiment'].append(pd.Series(['216']))

0    216
dtype: object

In [21]:
compdata

Empty DataFrame
Columns: [experiment]
Index: []

In [24]:
compdata.to_hdf("Components_database.h5")

TypeError: to_hdf() missing 1 required positional argument: 'key'